In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/mcs275/dat-11-15/ClassMaterial/Unit1/data/master.csv')

In [10]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

In [11]:
##returns array of values for each row
np.where(df['day_of_week'].isin(['Saturday','SUnday']), 'Weekend','Weekday')

array(['Weekday', 'Weekday', 'Weekday', ..., 'Weekday', 'Weekday',
       'Weekday'], dtype='<U7')

In [12]:
df['PartofWeek'] = np.where(df['day_of_week'].isin(['Saturday','SUnday']), 'Weekend','Weekday')

In [13]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,PartofWeek
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekend
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday

In [14]:
##if you want to check for multiple conditions, the select method from numpy is best

In [18]:
conditions = [ 
    df['visitors'] < 20,
    df['visitors'].between(21, 30),
    df['visitors'] > 30
]
results = [
    'Low Traffic',
    'Medium Traffic',
    'High Traffic'
]

df['Traffic'] = np.select(conditions, results, 'Other')

In [19]:
df.head()

,id,visit_date,visitors,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,PartofWeek,Traffic
0,air_ba937bf13d40fb24,2016-01-13,25,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday,Medium Traffic
1,air_ba937bf13d40fb24,2016-01-14,32,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday,High Traffic
2,air_ba937bf13d40fb24,2016-01-15,29,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday,Medium Traffic
3,air_ba937bf13d40fb24,2016-01-16,22,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekend,Medium Traffic
4,air_ba937bf13d40fb24,2016-01-18,6,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,Weekday,Low Traffic

In [20]:
def clean_string(value):
    return value.lower().replace('-','.')

In [21]:
clean_string('The-best Way to.do things')

'the.best way to.do things'

In [22]:
##pass function to column
df['area'].apply(clean_string)

0         tōkyō.to minato.ku shibakōen
1         tōkyō.to minato.ku shibakōen
2         tōkyō.to minato.ku shibakōen
3         tōkyō.to minato.ku shibakōen
4         tōkyō.to minato.ku shibakōen
                      ...
252103    hyōgo.ken kōbe.shi kumoidōri
252104    hyōgo.ken kōbe.shi kumoidōri
252105    hyōgo.ken kōbe.shi kumoidōri
252106    hyōgo.ken kōbe.shi kumoidōri
252107    hyōgo.ken kōbe.shi kumoidōri
Name: area, Length: 252108, dtype: object

In [23]:
df['reserve_visitors'].quantile()

10.0

In [24]:
df['reserve_visitors'].quantile(.25)

4.0

In [32]:
df.groupby(['day_of_week']).sum()['reserve_visitors']

day_of_week
Friday       231847.0
Monday       216720.0
Saturday     430749.0
Sunday       423202.0
Thursday     132328.0
Tuesday      226444.0
Wednesday    148869.0
Name: reserve_visitors, dtype: float64