### Pandas Lab -- Basic Selecting & Querying

This lab walks you through various sections of Pandas syntax for grabbing & selecting data.

The lab is broken down into three parts, and will be completed throughout class.

 - 1. Basic selectors with Pandas
 - 2. Selecting based on conditions & boolean indexes
 - 3. Special commands for selecting certain types of rows

### Section 1:  Selecting Data With Pandas

**1). What is the average age of all passengers on board?**

In [2]:
# your answer here
import pandas as pd
# your file path might be different -- use your own
df = pd.read_csv(r'C://Users/Jonat/Downloads/titanic.csv')
df['Age'].mean()

29.69911764705882

**2). Find the median values of the Fare & SibSp columns**

In [3]:
# your answer here
df[['Fare', 'SibSp']].median()

Fare     14.4542
SibSp     0.0000
dtype: float64

**3). What was the maximum fare paid among the first 100 passengers on board? (This would be the first 100 rows?**

In [4]:
# your answer here
df['Fare'][:100].max()

263.0

**4). What is the modal value of the last 4 columns in the dataset?**

In [5]:
# your answer here -- you get multiple rows because there's more
# than one answer for some of the columns
df.iloc[:, -4:].mode()

     Ticket  Fare        Cabin Embarked
0      1601  8.05      B96 B98        S
1    347082   NaN  C23 C25 C27      NaN
2  CA. 2343   NaN           G6      NaN

**5). What is the mean value of the first 250 rows of the first 3 columns in the dataset?**

In [6]:
# your answer here
df.iloc[:250, :3].mean()

PassengerId    125.500
Survived         0.344
Pclass           2.416
dtype: float64

### Section II: Selecting Based on Conditions

**1). How many females were on board the titanic? Men?**

In [7]:
# your answer here
df[df.Sex == 'female'].shape[0]

314

In [8]:
# and for men
df[df.Sex == 'male'].shape[0]

577

**2). What was the survival rate for females on the titanic? Men?**

In [9]:
# your answer here
df[df.Sex == 'female']['Survived'].mean()

0.7420382165605095

In [10]:
# and for men
df[df.Sex == 'male']['Survived'].mean()

0.18890814558058924

**3). What was the survival rate for people in either passenger class 1 or 2?**

In [11]:
# your answer here
df[(df.Pclass == 1) | (df.Pclass == 2)]['Survived'].mean()

0.5575

In [12]:
# if typing in the queries gets cumbersome or unreadable, 
# you can also save it as a variable
query = (df.Pclass == 1) | (df.Pclass == 2)
df[query]['Survived'].mean()

0.5575

**4). Were woman more likely to survive if they were traveling without siblings?**

In [13]:
# women without siblings on board
query = (df.Sex == 'female') & (df.SibSp == 0)
df[query]['Survived'].mean()

0.7873563218390804

In [14]:
# women with siblings on board
query = (df.Sex == 'female') & (df.SibSp > 0)
df[query]['Survived'].mean()

0.6857142857142857