### Pandas Lab -- Grouping & Merging

Welcome to today's lab!  It will come in two different parts:  

One section will be devoted to using the `groupby` method in order to answer different questions about our data.  

The second portion will be devoted towards combining grouping & merging to create summary statistics -- one of the more important features you can add to a dataset for statistical modeling.

### Section I - Grouping

**Question 1:** What restaurant had the highest total amount of visitors throughout the dataset?

In [1]:
# your answer here
import pandas as pd
import numpy as np
df = pd.read_csv('../data/restaurant data/master.csv', parse_dates=['visit_date'])

In [2]:
# the restaurant 
df.groupby('id')['visitors'].sum().idxmax()

'air_399904bdb7685ca0'

In [3]:
# restaurant with the amount attached
visits = df.groupby('id')[['visitors']].sum()
idx    = visits.idxmax()
visits.loc[idx, :]

                      visitors
id
air_399904bdb7685ca0     18717

**Question 2:** What was the average difference in attendance between holidays & non-holidays for all restaurants?

In [4]:
# your answer here
df.groupby('holiday')['visitors'].mean()

holiday
0    20.828064
1    23.703327
Name: visitors, dtype: float64

In [5]:
# if you wanted to get the difference between them
df.groupby('holiday')['visitors'].mean().diff()

holiday
0         NaN
1    2.875263
Name: visitors, dtype: float64

**Question 3:** Can you grab the first 15 rows of dates for each restaurant?  The last 15 rows?

In [6]:
# your answer here -- first 15 rows
df.groupby('id').apply(lambda x: x.iloc[:15])

                                               id visit_date  visitors  \
id
air_00a91d42b08b08d9 166836  air_00a91d42b08b08d9 2016-07-01        35
                     166837  air_00a91d42b08b08d9 2016-07-02         9
                     166838  air_00a91d42b08b08d9 2016-07-04        20
                     166839  air_00a91d42b08b08d9 2016-07-05        25
                     166840  air_00a91d42b08b08d9 2016-07-06        29
...                                           ...        ...       ...
air_fff68b929994bfbd 216418  air_fff68b929994bfbd 2016-07-14        11
                     216419  air_fff68b929994bfbd 2016-07-15         3
                     216420  air_fff68b929994bfbd 2016-07-16         8
                     216421  air_fff68b929994bfbd 2016-07-19         6
                     216422  air_fff68b929994bfbd 2016-07-20         7

                            calendar_date day_of_week  holiday  \
id
air_00a91d42b08b08d9 166836    2016-07-01      Friday        0
                     166837    2016-07-02    Saturday        0
                     166838    2016-07-04      Monday        0
                     166839    2016-07-05     Tuesday        0
                     166840    2016-07-06   Wednesday        0
...                                   ...         ...      ...
air_fff68b929994bfbd 216418    2016-07-14    Thursday        0
                     216419    2016-07-15      Friday        0
                     216420    2016-07-16    Saturday        0
                     216421    2016-07-19     Tuesday        0
                     216422    2016-07-20   Wednesday        0

                                      genre                             area  \
id
air_00a91d42b08b08d9 166836  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     166837  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     166838  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     166839  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     166840  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
...                                     ...                              ...
air_fff68b929994bfbd 216418    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216419    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216420    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216421    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216422    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano

                              latitude   longitude  reserve_visitors
id
air_00a91d42b08b08d9 166836  35.694003  139.753595               NaN
                     166837  35.694003  139.753595               4.0
                     166838  35.694003  139.753595               NaN
                     166839  35.694003  139.753595               NaN
                     166840  35.694003  139.753595               NaN
...                                ...         ...               ...
air_fff68b929994bfbd 216418  35.708146  139.666288               2.0
                     216419  35.708146  139.666288               NaN
                     216420  35.708146  139.666288               4.0
                     216421  35.708146  139.666288               NaN
                     216422  35.708146  139.666288               NaN

[12435 rows x 11 columns]

In [7]:
# the last 15 rows
df.groupby('id').apply(lambda x: x.iloc[-15:])

                                               id visit_date  visitors  \
id
air_00a91d42b08b08d9 167053  air_00a91d42b08b08d9 2017-04-11        43
                     167054  air_00a91d42b08b08d9 2017-04-12        28
                     167055  air_00a91d42b08b08d9 2017-04-13        34
                     167056  air_00a91d42b08b08d9 2017-04-14        39
                     167057  air_00a91d42b08b08d9 2017-04-17        19
...                                           ...        ...       ...
air_fff68b929994bfbd 216672  air_fff68b929994bfbd 2017-01-03         1
                     216673  air_fff68b929994bfbd 2017-01-04         6
                     216674  air_fff68b929994bfbd 2017-02-26         2
                     216675  air_fff68b929994bfbd 2017-03-20         2
                     216676  air_fff68b929994bfbd 2017-04-09         5

                            calendar_date day_of_week  holiday  \
id
air_00a91d42b08b08d9 167053    2017-04-11     Tuesday        0
                     167054    2017-04-12   Wednesday        0
                     167055    2017-04-13    Thursday        0
                     167056    2017-04-14      Friday        0
                     167057    2017-04-17      Monday        0
...                                   ...         ...      ...
air_fff68b929994bfbd 216672    2017-01-03     Tuesday        1
                     216673    2017-01-04   Wednesday        0
                     216674    2017-02-26      Sunday        0
                     216675    2017-03-20      Monday        1
                     216676    2017-04-09      Sunday        0

                                      genre                             area  \
id
air_00a91d42b08b08d9 167053  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     167054  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     167055  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     167056  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
                     167057  Italian/French  Tōkyō-to Chiyoda-ku Kudanminami
...                                     ...                              ...
air_fff68b929994bfbd 216672    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216673    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216674    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216675    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano
                     216676    Bar/Cocktail        Tōkyō-to Nakano-ku Nakano

                              latitude   longitude  reserve_visitors
id
air_00a91d42b08b08d9 167053  35.694003  139.753595               2.0
                     167054  35.694003  139.753595               2.0
                     167055  35.694003  139.753595               7.0
                     167056  35.694003  139.753595               4.0
                     167057  35.694003  139.753595               NaN
...                                ...         ...               ...
air_fff68b929994bfbd 216672  35.708146  139.666288               NaN
                     216673  35.708146  139.666288              10.0
                     216674  35.708146  139.666288               NaN
                     216675  35.708146  139.666288               3.0
                     216676  35.708146  139.666288              32.0

[12435 rows x 11 columns]

**Question 4:** Grab the quarterley sales for each individual restaurant within our dataset

In [8]:
# your answer here -- notice the use of the date parts within the groupby -- without necessarily creating them
df.groupby(['id', df.visit_date.dt.year, df.visit_date.dt.quarter])['visitors'].sum()

id                    visit_date  visit_date
air_00a91d42b08b08d9  2016        3             1780
                                  4             1740
                      2017        1             2041
                                  2              490
air_0164b9927d20bcc3  2016        4              627
                                                ...
air_ffcc2d5087e1b476  2017        2              390
air_fff68b929994bfbd  2016        3              404
                                  4              452
                      2017        1              411
                                  2              102
Name: visitors, Length: 3903, dtype: int64

**Question 5:** What restaurant had the highest amount of reservations?

In [9]:
# your answer here -- to get both answers, see the previous solution
df.groupby('id')['reserve_visitors'].sum().idxmax()

'air_05c325d315cc17f5'

**Question 6:** What is the total number of missing entries for each restaurant?

In [10]:
# your answer here
df.groupby('id').apply(lambda x: x.isnull().sum().sum())

id
air_00a91d42b08b08d9    122
air_0164b9927d20bcc3     50
air_0241aa3964b7f861    249
air_0328696196e46f18     50
air_034a3d5b40d5b1b1    130
                       ...
air_fea5dc9594450608    139
air_fee8dcf4d619598e    149
air_fef9ccb3ba0da2f7    123
air_ffcc2d5087e1b476    124
air_fff68b929994bfbd    132
Length: 829, dtype: int64

**Question 7:**  Create two variables, `train` and `test`.  Make `train` a dataset that contains all but the **last 15 rows** for each restaurant.  Make `test` the last 15 rows for each restaurant.

In [11]:
# we'll make sure our dataset is sorted properly first
df = df.sort_values(by=['id', 'visit_date'], ascending=[True, True])
# and then apply our lambda functions
train = df.groupby('id').apply(lambda x: x.iloc[:-15])
test  = df.groupby('id').apply(lambda x: x.iloc[-15:])

### Grouping & Merging

In this section of the lab, we are going to create different types of summary statistics -- where the rows for an individual sample can be compared with a larger group statistic.

**Bonus:** If you want to make this a little bit more effective, instead of using the entire `df`, try using a grouping from the `train` variable you just created, and use the grouping's values to populate both the training and test sets.

Use the technique discussed in class to create columns for the following stats:

**Question 1:** Create columns that list the average, median and standard deviation of visitors for each restaurant

In [12]:
# your answer here
id_vals = df.groupby('id')['visitors'].agg(['mean', 'median', 'std']).rename({'mean': 'id-mean', 'median': 'id-median', 'std': 'id-std'}, axis=1)
df = df.merge(id_vals, left_on=['id'], right_index=True, how='left')

**Question 2:** Create a column that lists the average and median sales amount for each restaurant on a particular day of the week.

In [13]:
# your answer here
id_day_vals = df.groupby(['id', 'day_of_week'])['visitors'].agg(['mean', 'median', 'std']).rename({'mean': 'id-day-mean', 'median': 'id-day-median', 'std': 'id-day-std'}, axis=1)
df = df.merge(id_day_vals, left_on=['id', 'day_of_week'], right_index=True, how='left')

**Question 3:** Create columns that display the average and median sales amount for each genre in each city on each day of the week.  Create a column called `city` that captures the first value of `area` in order to this.  Values should be `Tokyo`, `Hiroshima`, etc.  **Hint:** You should use the `str` attribute combined with `split` in order to do this.

In [14]:
# your answer here
df['city'] = df['area'].str.split().str[0]
day_city_vals = df.groupby(['genre', 'city', 'day_of_week'])['visitors'].agg(['mean', 'median', 'std']).rename({'mean': 'city-day-mean', 'median': 'city-day-median', 'std': 'city-day-std'}, axis=1)
df = df.merge(day_city_vals, left_on=['genre', 'city', 'day_of_week'], right_index=True, how='left')